<html>
<body>
<head>
<title>
OPERATION BANANHJÄRTA 2019
</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div ng-app="">
	
	Ninjor är allergiska mot <input ng-model="one"></input>
	<div ng-if="one.toLowerCase()=='laser'">
		Första uppgiften avklarad...men nu blir det svårare! <br>
		En ninjas kaststjärna heter egentligen på japanska <input ng-model="two"></input>
		<div ng-if="two.toLowerCase()=='shuriken'">
			Andra uppgiften avklarad!!!
			Världens snabbaste orm har samma färg som Cole... Den heter: <input ng-model="three"></input>
			<div ng-if="three.toLowerCase()=='svart mamba'">
				KALAS!!! <img src="dance.gif">
					<audio id="aud" autoplay src="MorgonPiano2_BuchlaOrganMeUp.wav">
	</audio>

			</div>
		</div>
	</div>

</div>
</body>
</html>