<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script>
    var app = angular.module('nameGen', []);
    /*['$scope', '$routeParams', '$location', 'Authentication', 'Articles',
            function($scope, $routeParams, $location, Authentication, Articles){
                $scope.authentication = Authentication;*/

    app.controller('mainController', ['$scope', '$http', '$window', '$document', function ($scope, $http, $window, $document) {
        $scope.assetIn = {
            folderPath: "Weapons\\Handheld",
            identifier: "AK47",
            assetType: "Wave",
            waveType: "Wave"
        }
        $scope.assetList = [];

        $scope.ReplaceSlashes = function (str) {
            if (str === undefined) return "";
            return str.replace(/\\/g, "_");
        };
        $scope.GetSuffix = function (assetType, waveType) {
            if (assetType == "Wave") {
                let suffix = ""
                if (waveType != "") {
                    suffix += waveType + "_"
                }
                suffix += "01"
                return suffix
            }
            else return assetType;
        }
        $scope.GetQualityPreset = function (folderPath) {

            if (folderPath.includes("VO\\"))
                if (folderPath.includes("Radio"))
                    return "BF_VO_Radio"
                else
                    return "BF_VO"
            if (folderPath.includes("Weapons\\"))
                return "BF_Weapon"
            if (folderPath.includes("Ambience\\"))
                return "BF_Ambience"
            return "Default"
        }
        $scope.GetDataPolicy = function (folderPath) {
            if (folderPath.includes("Weapons\\"))
                return "Persistent 3";
            return "Default";
        }
        $scope.SaveAsset = function () {
            $scope.assetList.push({
                folderPath: $scope.assetIn.folderPath,
                identifier: $scope.assetIn.identifier,
                assetType: $scope.assetIn.assetType,
                waveType: $scope.assetIn.waveType
            });
        }
        $scope.LoadAsset = function (asset) {
            $scope.assetIn = {
                folderPath: asset.folderPath,
                identifier: asset.identifier,
                assetType: asset.assetType,
                waveType: asset.waveType
            };
        }
        $scope.assetList.push(
            {
                folderPath: "VO\\Radio\\Announcer\\Conquest\\ObjectiveLost",
                identifier: "A",
                assetType:  "Wave",
                waveType:   "Wave"
            },{
                folderPath: "VO\\InWorld\\InWorld\\Conquest\\ObjectiveLost",
                identifier: "A",
                assetType:  "Wave",
                waveType:   "Wave"
            },{
                folderPath: "Weapons\\Handheld",
                identifier: "BAR1988",
                assetType:  "Wave",
                waveType:   "Markers"
            },{
                folderPath: "Weapons\\Handheld",
                identifier: "BAR1988",
                assetType:  "Config"
            },
            {
                folderPath: "Weapons\\SourcePatches",
                identifier: "Automatic",
                assetType:  "Patch"
            },{
                folderPath: "Ambience\\SourcePatches",
                identifier: "SoundAreaQuad",
                assetType:  "Patch"
            },{
                folderPath: "Ambience\\MP_Jungle\\SoundAreas",
                identifier: "Global",
                assetType:  "Config"
            },
            {
                folderPath: "Ambience\\MP_Jungle\\SoundAreas",
                identifier: "Global",
                assetType:  "Wave",
                waveType:   "Markers"
            },
        )

    }]);
</script>
<style>
    .field {
        width: 500px;
        height: 25px;
    }

    br {
        content: " ";
        display: block;
        margin: 10px;
    }

    .row {
        height: 40px;
    }

    .col-sm-2 {
        text-align: right;
    }

    label {
        font-weight: normal;
    }
</style>

<body>

    <br><br>
    <div ng-app="nameGen" ng-controller="mainController" class="container" style="margin: 200px">
        <div class="row">
            <div class="col-sm-2">
                Folder path
            </div>
            <div class="col-sm-4">
                <input class="field" ng-model="assetIn.folderPath" placeholder="Folder name"></input><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Identifier
            </div>
            <div class="col-sm-4">
                <input class="field" ng-model="assetIn.identifier" placeholder="Identifier"></input><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Asset type
            </div>
            <div class="col-sm-4">
                <select class="field" ng-model="assetIn.assetType"><br>
                    <option>Wave</option>
                    <option>Patch</option>
                    <option>Config</option>
                </select>
            </div>
        </div>
        <div class="row" ng-style="{visibility: assetIn.assetType == 'Wave' ? 'visible':'hidden'}">
            <div class="col-sm-2">
                Wave Options
            </div>
            <div class="col-sm-10">
                <div>
                    <label>
                        <input type="radio" ng-model="assetIn.waveType" name="waveType" value="Wave"> Default &nbsp;
                    </label>
                    <label>
                        <input type="radio" ng-model="assetIn.waveType" name="waveType" value="Loop"> Looping &nbsp;
                    </label>
                    <label>
                        <input type="radio" ng-model="assetIn.waveType" name="waveType" value="Markers"> Variations From
                        Markers
                        &nbsp;
                    </label>
                    <label>
                        <input type="radio" ng-model="assetIn.waveType" name="waveType" value="StartIdleStop">
                        StartIdleStop
                        &nbsp;
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: #EEEEEE; height:3px">
        </div>
        <div class="row" style="height: 15px;">
        </div>
        <div class="row">
            <div class="col-sm-2">
                Filename
            </div>
            <div class="col-sm-4" style="font-weight: bold">
                BF01_{{ReplaceSlashes(assetIn.folderPath)}}_{{assetIn.identifier}}_{{GetSuffix(assetIn.assetType,assetIn.waveType)}}
            </div>
        </div>
        <div class="row" ng-style="{visibility: assetIn.assetType == 'Wave' ? 'visible':'hidden'}">
            <div class="col-sm-2">
                Quality Preset
            </div>
            <div class="col-sm-4">
                {{GetQualityPreset(assetIn.folderPath)}}
            </div>
        </div>
        <div class="row" ng-style="{visibility: assetIn.assetType == 'Wave' ? 'visible':'hidden'}">
            <div class="col-sm-2">
                CreateVariationsFromMarkers
            </div>
            <div class="col-sm-4">
                {{assetIn.waveType == 'Markers' ? '&#10003;' : ''}}
            </div>
        </div>
        <div class="row" ng-style="{visibility: assetIn.assetType == 'Wave' ? 'visible':'hidden'}">
            <div class="col-sm-2">
                Streaming
            </div>
            <div class="col-sm-4">
                {{assetIn.folderPath.includes('VO\\') ? '&#10003;' : ''}}
            </div>
        </div>
        <div class="row" ng-style="{visibility: assetIn.assetType == 'Wave' ? 'visible':'hidden'}">
            <div class="col-sm-2">
                DataPolicy
            </div>
            <div class="col-sm-4">
                {{GetDataPolicy(assetIn.folderPath)}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
                <input type="button" value="Save" ng-click="SaveAsset()">
            </div>
        </div>
        <div class="row" style="background-color: #EEEEEE; height:3px">
        </div>
        <div class="row" style="height: 15px;">
        </div>
        <div class="row">
            <strong>Recently imported assets</strong>
        </div>
        
        <div class="row" ng-repeat="asset in assetList">
            <div class="col-sm-2">
                {{asset.assetType}}
            </div>
            <div class="col-sm-4">
                <a
                    ng-click="LoadAsset(asset)">BF01_{{ReplaceSlashes(asset.folderPath)}}_{{asset.identifier}}_{{GetSuffix(asset.assetType,asset.waveType)}}</a>
            </div>
        </div>
    </div>

    <br>


    <br><br>



</body>

</html>